.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: rgb(165, 165, 165);
  text-shadow: 5px 3px 2px rgba(187, 169, 169, 0.45);
  font-family: sans-serif;
  line-height: 2em;
  letter-spacing: 0.5em;
}
